<!DOCTYPE html>
<html lang="en">

<head>
    <!--  Title -->
    <title>Gundam Store</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="GundamStore" />
    <meta name="author" content="" />
    <meta name="keywords" content="GundamStore" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Template/dist/images/logos/logo-base.png" />
    <!-- Core Css -->
    <link rel="stylesheet" href="~/Template/dist/libs/owl.carousel/dist/assets/owl.carousel.min.css">

    <link id="themeColors" rel="stylesheet" href="~/Template/dist/css/style.min.css" />

    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>

<body>
    <header style="border-bottom: 1px solid #ccc;">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav quick-links d-none d-lg-flex justify-content-center align-items-center">
                    <li class="nav-item dropdown-hover d-none d-lg-block">
                        <a class="nav-link fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Template/dist/images/logos/logo.png" width="240" alt="">
                        </a>
                    </li>
                    <li class="nav-item dropdown-hover d-none d-lg-block">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                    <li class="nav-item dropdown-hover d-none d-lg-block">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <div class="d-flex align-items-center justify-content-between">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <div class="container mt-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="offcanvas offcanvas-end shopping-cart" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header py-4">
            <h5 class="offcanvas-title fs-5 fw-semibold" id="offcanvasRightLabel">Shopping Cart</h5>
        </div>
        <div class="offcanvas-body h-100 px-4 pt-0" data-simplebar>

        </div>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2024 - GundamStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Template/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/Template/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Template/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Template/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/dist/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/Template/dist/js/productDetail.js"></script>

    <script src="~/Template/dist/js/app.min.js"></script>
    <script src="~/Template/dist/js/app.init.js"></script>
    <script src="~/Template/dist/js/app-style-switcher.js"></script>
    <script src="~/Template/dist/js/sidebarmenu.js"></script>
    <script src="~/Template/dist/js/custom.js"></script>
    <script src="~/Template/dist/libs/prismjs/prism.js"></script>
    <script src="~/Template/dist/js/apps/chat.js"></script>

    <script src="~/js/Banner.js"></script>
    <script src="~/js/Modal.js"></script>
    <script src="~/js/Category.js"></script>
    <script src="~/js/Scale.js"></script>
    <script src="~/js/Product.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
