@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>


        @* <li class="nav-item ms-5">
            <a class="nav-link notify-badge nav-icon-hover" href="javascript:void(0)" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="ti ti-basket fs-8"></i>
                <span class="badge rounded-pill bg-danger">12</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link pe-0" href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex align-items-center">
                    <div class="user-profile-img">
                        <img src="~/Template/dist/images/profile/user-1.jpg" class="rounded-circle" width="35" height="35"
                            alt="" />
                    </div>
                </div>
            </a>
            <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop1">
                <div class="profile-dropdown position-relative" data-simplebar>
                    <div class="py-3 px-7 pb-0">
                        <h5 class="mb-0 fs-5 fw-semibold">User Profile</h5>
                    </div>
                    <div class="d-flex align-items-center py-9 mx-7 border-bottom">
                        <img src="~/Template/dist/images/profile/user-1.jpg" class="rounded-circle" width="80" height="80"
                            alt="" />
                        <div class="ms-3">
                            <h5 class="mb-1 fs-3">Mathew Anderson</h5>
                            <span class="mb-1 d-block text-dark">Designer</span>
                            <p class="mb-0 d-flex text-dark align-items-center gap-2">
                                <i class="ti ti-mail fs-4"></i> info@modernize.com
                            </p>
                        </div>
                    </div>
                    <div class="message-body">
                        <a href="./page-user-profile.html" class="py-8 px-7 mt-8 d-flex align-items-center">
                            <span class="d-flex align-items-center justify-content-center bg-light rounded-1 p-6">
                                <img src="~/Template/dist/images/svgs/icon-account.svg" alt="" width="24" height="24">
                            </span>
                            <div class="w-75 d-inline-block v-middle ps-3">
                                <h6 class="mb-1 bg-hover-primary fw-semibold"> My Profile </h6>
                                <span class="d-block text-dark">Account Settings</span>
                            </div>
                        </a>
                        <a href="./app-email.html" class="py-8 px-7 d-flex align-items-center">
                            <span class="d-flex align-items-center justify-content-center bg-light rounded-1 p-6">
                                <img src="~/Template/dist/images/svgs/icon-inbox.svg" alt="" width="24" height="24">
                            </span>
                            <div class="w-75 d-inline-block v-middle ps-3">
                                <h6 class="mb-1 bg-hover-primary fw-semibold">My Inbox</h6>
                                <span class="d-block text-dark">Messages & Emails</span>
                            </div>
                        </a>
                        <a href="./app-notes.html" class="py-8 px-7 d-flex align-items-center">
                            <span class="d-flex align-items-center justify-content-center bg-light rounded-1 p-6">
                                <img src="~/Template/dist/images/svgs/icon-tasks.svg" alt="" width="24" height="24">
                            </span>
                            <div class="w-75 d-inline-block v-middle ps-3">
                                <h6 class="mb-1 bg-hover-primary fw-semibold">My Task</h6>
                                <span class="d-block text-dark">To-do and Daily Tasks</span>
                            </div>
                        </a>
                    </div>
                    <div class="d-grid py-4 px-7 pt-8">
                        <div class="upgrade-plan bg-light-primary position-relative overflow-hidden rounded-4 p-4 mb-9">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="fs-4 mb-3 w-50 fw-semibold text-dark">Unlimited Access</h5>
                                    <button class="btn btn-primary text-white">Upgrade</button>
                                </div>
                                <div class="col-6">
                                    <div class="m-n4">
                                        <img src="~/Template/dist/images/backgrounds/unlimited-bg.png" alt="" class="w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="./authentication-login.html" class="btn btn-outline-primary">Log Out</a>
                    </div>
                </div>
            </div>
        </li> *@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
