<!DOCTYPE html>
<html lang="en">

<head>
    <!--  Title -->
    <title>Gundam Store</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="GundamStore" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Template/dist/images/logos/logo.png" />
    <!-- Core Css -->
    <link id="themeColors" rel="stylesheet" href="~/Template/dist/css/style.min.css" />

    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0 ">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Import Js Files -->
    <script src="~/Template/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Template/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Template/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!--  core files -->
    <script src="~/Template/dist/js/app.min.js"></script>
    <script src="~/Template/dist/js/app.init.js"></script>
    <script src="~/Template/dist/js/app-style-switcher.js"></script>
    <script src="~/Template/dist/js/sidebarmenu.js"></script>

    <script src="~/Template/dist/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>