@using GundamStore.ViewModels;
@model GundamStore.ViewModels.ConfirmEmailViewModel

@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_LoginOrRegisterLayout.cshtml";
}

<div class="card-body">
    <div class="text-nowrap logo-img text-center d-block mb-4 w-100">
        <img src="~/Template/dist/images/logos/logo.png" width="70" alt="">
    </div>
    <h2 class="text-center mb-4">Verify code</h2>
    <form asp-action="ConfirmEmail" method="post">
        <input asp-for="Code" class="form-control mb-4">
        <button type="submit" class="btn btn-primary w-100 py-8 rounded-2">Verify</button
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
