@model GundamStore.ViewModels.NewPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LoginOrRegisterLayout.cshtml";
    var mode = Context.Request.Query["mode"].ToString();
}

<div class="card-body">
    <div class="text-nowrap logo-img text-center d-block mb-5 w-100">
        <img src="~/Template/dist/images/logos/logo.png" width="70" alt="">
    </div>
    <form>
        <div class="mb-3">
            <label for="Password" class="form-label">New password</label>
            <input asp-for="Password" type="password" class="form-control">
            <span id="passwordError" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label for="ConfirmPassword" class="form-label">Confirm password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span id="confirmPasswordError" class="text-danger"></span>
        </div>
        <button type="button" class="btn btn-primary w-100 py-8 rounded-2" onclick="resetPassword()">Save</button>

    </form>
</div>

@section Scripts {
    <script>
        var Url = '@Url.Action("ResetPassword", "Account")';
    </script>
}