@{
    ViewData["Title"] = "Send Email";
    Layout = "~/Views/Shared/_LoginOrRegisterLayout.cshtml";
}

<div class="card-body">
    <div class="text-nowrap logo-img text-center d-block mb-4 w-100">
        <img src="~/Template/dist/images/logos/logo.png" width="70" alt="">
    </div>
    <h2 class="text-center mb-4">Enter your email</h2>
    <form>
        <input id="Email" name="Email" type="email" class="form-control">
        <span id="emailError" class="text-danger"></span>
        <button type="button" class="btn btn-primary w-100 py-8 rounded-2 mt-4" onclick="SendEmail()">Send
            email</button>
    </form>
</div>

@section Scripts {
    <script>
        var Url = '@Url.Action("SendVerificationEmail", "Account")';
    </script>
}