@model IEnumerable<GundamStore.Models.Scale>

<div class="table-responsive border rounded">
    <table class="table align-middle text-nowrap mb-0">
        <thead class="text-dark fs-3">
            <tr>
                <th scope="col">
                    <h6 class="fs-3 fw-semibold mb-0">Scale</h6>
                </th>
                <th scope="col">
                    <h6 class="fs-3 fw-semibold mb-0">Description</h6>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scale in Model)
            {
                <tr>
                    <td>@scale.Name</td>
                    <td>@scale.Description</td>
                    <td class="text-end">
                        <button type="button" class="btn btn-warning" onclick="ShowEditScaleModal(@scale.Id)">Edit</button>
                        <button type="button" class="btn btn-danger"
                            onclick="ShowDeleteScaleModal(@scale.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>