@{
    ViewData["Title"] = "Product";
}

<div class="product-list">
    <div class="d-flex justify-content-between align-items-center mb-9">
        <form class="position-relative">
            <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                placeholder="Search Product">
            <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
        </form>
    </div>
    <div class="table-responsive border rounded">
        <table class="table align-middle text-nowrap mb-0">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Scale</th>
                    <th scope="col">Status</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="d-flex align-items-center justify-content-end py-1">
        <p class="mb-0 fs-2">1–5 of 12</p>
        <nav aria-label="...">
            <ul class="pagination justify-content-center mb-0 ms-8 ms-sm-9">
                <li class="page-item p-1">
                    <a class="page-link border-0 rounded-circle text-dark fs-6 round-32 d-flex align-items-center justify-content-center"
                        href="#"><i class="ti ti-chevron-left"></i></a>
                </li>
                <li class="page-item p-1">
                    <a class="page-link border-0 rounded-circle text-dark fs-6 round-32 d-flex align-items-center justify-content-center"
                        href="#"><i class="ti ti-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>